<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/powstyle.css">
    <link rel="shortcut icon" href="/static/tnc_favicon.png">
    <script src="static/moment.min.js"></script>
    <script src="static/Chart.min.js"></script>

    <title>Distributed Proof of Work Network Statistics</title>
</head>
<body style="background-color:#F4F5F9;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color:white !important;">
      <a class="navbar-brand" href="https://wiki.nanocenter.org/index.php?title=Distributed_Proof_of_Work_System"><img src="static/tnc_logo.png" style="width:200px"></a>
    </nav>
